
.site-main{
    padding-bottom: 160px;
    font-family: var(--lexend-deca);
}

/* ABOUT */

.about-info{
    padding: 72px 0;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    background-image:linear-gradient(rgba(47, 59, 89, 0.75), rgba(47, 59, 89, 0.75)),
                      url("../images/about-bg.png");
    margin-bottom: 120px;
}
.about-title{
    margin: 0;
    font-weight: bold;
    font-size: 56px;
    line-height: 56px;
    letter-spacing: -2.5px;
    font-family:"Space Mono","Arial",sans-serif;
    color: #fff;
    position: relative;
}
.about-title::after{
    content: "";
    width: 234px;
    height: 63px;
    position: absolute;
    top: 0;
    left: 1080px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    background-image: url("../images/site-hero-bg-circles.svg");
}

/* INTRODUCTION */

.content{
    width: 445px;
    padding: 80px 0;
    position: relative;
 
}
.mobility-info{
    margin-bottom: 160px;
}
.content::after{
    content: "";
    width: 1080px;
    height: 445px;
    position: absolute;
    background-size: contain;
    background-position: center center;
    display: block;
    background-repeat: no-repeat;
    z-index: -1;
}
.mobility-info::after{
    top: -50px;
    right: -1060px;
    background-image: url("../images/mobility-for.png");
}
.mobility-info::before{
    content: "";
    width: 734px;
    height: 138px;
    position: absolute;
    top: 250px;
    right: -900px;
    display: block;
    background-repeat: no-repeat;
    background-image: url("../images/yellow-arrow-to-left.svg");
    background-size: contain;
    background-position: center center;
    z-index: 1;
}
.content-title{
    margin: 0;
    margin-bottom: 24px;
    font-weight: bold;
    font-size: 48px;
    line-height: 48px;
    letter-spacing: -2.14286px;
    color:var(--title-color);
    font-family: var(--mono-font);
}
.content-text{
    margin: 0;
}

.better-info{
    margin-left: auto;
    margin-bottom: 120px;
}

.better-info::after{
    background-image: url("../images/better.png");
    position: absolute;
    top: -50px;
    right: 450px;
}

/* VALUE_SECTION */

.values{
    margin-bottom: 120px;
}
.values__container{
    display: flex;
    align-items: center;
}
.value-list{
    padding: 0;
    margin: 0;
    list-style-type: none;
}
.value-item{
    width: 350px;
    text-align: center;
}
.value-list:not(:last-child){
    margin-right: 30px;
}
.number-value{
    margin-bottom: 32px;
    padding: 35px;
    border-radius: 50%;
    background-color: var(--accent-color);
    display: inline-block;
    font-weight: bold;
    font-family: var(--mono-font);
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    letter-spacing: -1.07143px;
    color: var(--title-color);
}

.value-item__title{
    margin: 0;
    margin-bottom: 27px;
    font-weight: bold;
    font-size: 24px;
    font-family: var(--mono-font);
    line-height: 28px;
    color: var(--title-color);
    text-align: center;
    letter-spacing: -1.07143px;
}
.value-item__text{
    margin: 0;
}
.value-list::before{
    content: "";
    width: 240px;
    height: 240px;
    display: block;
    background-position: center center;
    position: relative;
    top: 50px;
    right: -13%;
    z-index: -1;
   
}
.value-tech::before{
    background-image: url("../images/phone-writing.png");
    
    background-repeat: no-repeat;
}
.value-integrity::before{
    background-image: url("../images/riding-bike.png");
  
    background-repeat: no-repeat;
}
.value-community::before{
    background-image: url("../images/people-walk.png");
 
    background-repeat: no-repeat;
}


/* FAQS__SECTION */

.faqs-section__title{
    margin: 0;
    margin-bottom: 64px;
    font-weight: bold;
    font-size: 48px;
    line-height: 48px;
    color: var(--title-color);
    font-family: var(--mono-font);
    text-align: center;
    letter-spacing: -2.14286px;
}
.how-it-works{
    display: flex;
    align-items: start;
}
.how-it-works:not(:last-child){
    margin-bottom: 64px;
}
.how-it-works__title{
    margin: 0;
    color: var(--title-color);
    font-family: var(--mono-font);
    font-weight: bold;
    font-size: 40px;
    line-height: 48px;
    letter-spacing: -1.78571px;
}
.work-list{
    padding: 0;
    margin: 0;
    list-style-type: none;
    width: 730px;
    margin-left: auto;
}
.work-item{
    padding: 32px 40px;
    background-color: var(--snow);
    color: var(--title-color);
    position: relative;
}
.work-item::after{
    content: "";
    width: 16px;
    height: 16px;
    display: block;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    background-image: url("../images/down.png");
    position: absolute;
    top: 42px;
    right: 30px;
}
.work-item:active::after{
    transition:ease 0.3s;
     transform: rotate(180deg);
}

.work-item:hover{
    background-color: var(--light-yellow);
}

.work-item:active .work-item__text{
    display: block;
    margin-top: 24px;
}
.work-item:not(:last-child){
    margin-bottom: 16px;
}
.work-item__title{
    margin: 0;
    font-weight: bold;
    font-family: var(--mono-font);
    font-size: 24px;
    line-height: 28px;
    letter-spacing: -1.07143px;
}
.work-item__text{
    margin: 0;
    display: none;
}

.safe-driving{
    display: flex;
    align-items: start;
}