.site-main{
    padding-bottom: 120px;
    font-family: var(--lexend-deca);
}
.visually-hidden {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
  }
/* ABOUT */

.location-info{
    padding: 72px 0;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    background-image:linear-gradient(rgba(47, 59, 89, 0.75), rgba(47, 59, 89, 0.75)),
                      url("../images/careers-bg-img.png");
    margin-bottom: 120px;
}
.location-title{
    margin: 0;
    font-weight: bold;
    font-size: 56px;
    line-height: 56px;
    letter-spacing: -2.5px;
    font-family:"Space Mono","Arial",sans-serif;
    color: #fff;
    position: relative;
}
.location-title::after{
    content: "";
    width: 234px;
    height: 63px;
    position: absolute;
    top: 0;
    left: 1080px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    background-image: url("../images/site-hero-bg-circles.svg");
}

/* MAP_SECTION */
.map-section{
    margin-bottom: 100px;
}

.map-link img{
    display: block;
}

.map-list{
    margin: 0;
    padding: 0;
    list-style-type: none;
    position: relative;
}
.map-item{
    padding:22px 38px;
    display: inline-block;
    background-color: var(--accent-color);
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    letter-spacing: -1.07143px;
    position: relative;
}
.map-item__new-york{
    position: absolute;
    top: -450px;
    left: 100px;
}
.map-item__jakarta{
    position: absolute;
    top: -320px;
    right: 180px;
}
.map-item__london{
    position: absolute;
    top: -530px;
    left: 430px;
}
.map-item__yokohama{
    position: absolute;
    top: -480px;
    right: 80px;
}
.map-item__link{
    color: var(--title-color);
    font-family: var(--mono-font);
    text-decoration: none;
}
.map-item::after{
    content: "";
    height: 24px;
    width: 24px;
    display: block;
    position: absolute;
    bottom: -10px;
    right: 60px;
    background-color: var(--accent-color);
    transform: rotate(45deg);
}

/* LISTED__SECTION */

.listed__container{
    display: flex;
    align-items: center;
}
.listed-title{
    width: 352px;
    margin: 0;
    margin-right: 30px;
    font-weight: bold;
    font-size: 48px;
    line-height: 48px;
    letter-spacing: -2.14286px;
    color: var(--title-color);
    font-family: var(--mono-font);
}
.listed-text{
    width: 445px;
    margin: 0;
    margin-right: 105px;
}
.listed-btn{
    white-space: nowrap;
    padding: 14px 44px;
    text-decoration: none;
}