/*CUSTOM PROPERTIES*/
:root{
    /*Site Colors*/
    --accent-color:#fcb72b;
    --text-color: #939caa;
    --title-color: #495567;
    --light-grey:#e5ecf4;
    --snow:#f2f5f9;
    --light-yellow:#fff4df;

    /* FONTS */
    --mono-font:"Space Mono","Arial",sans-serif;

}

/*WEB FONTS RELATED*/
/* space-mono-regular - latin */
@font-face {
    font-family: "Space Mono";
    font-style: normal;
    font-weight: 400;
    src: 
         url("../fonts/space-mono-v6-latin-regular.woff2") format("woff2"), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url("../fonts/space-mono-v6-latin-regular.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* space-mono-700 - latin */
  @font-face {
    font-family: "Space Mono";
    font-style: normal;
    font-weight: 700;
    src: 
         url("../fonts/space-mono-v6-latin-700.woff2") format("woff2"), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url("../fonts/space-mono-v6-latin-700.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
@font-face {
    font-family: "Lexend Deca";
    font-style: normal;
    font-weight: 400;
    src:
         url("../fonts/lexend-deca-v7-latin-regular.woff2") format("woff2")
         url("../fonts/lexend-deca-v7-latin-regular.woff") format("woff"); 
  }
/*GLOBAL STYLES*/
html{
    box-sizing: border-box;
}
*,
*::before,
*::after{
    box-sizing: inherit;
}

body{
    padding: 0;
    margin: 0;
    font-family: "Lexend Deca","Arial",sans-serif;
    font-size: 15px;
    line-height: 25px;
    color: var(--text-color);
    background-color: #fff;
    overflow-x: hidden;
}
.container{
    max-width: 1156px;
    padding-left: 25px;
    padding-right: 25px;
    margin-left: auto;
    margin-right: auto;
}

/* SITE_HEADER */
.site-header{
    padding: 21px 0;
}
.site-header__container{
    display: flex;
    align-items: center;
}
.sitenav{
    margin-right: auto;
}
.sitenav-list{
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    align-items: center;
}
.sitenav-item{
    font-weight: bold;
}
.sitenav-link{
    color: var(--text-color);
    text-decoration: none;
    margin-right: 32px;
    transition: color ease 0.3s;
}
.sitenav-link:hover{
    color: var(--accent-color);
}
.header-btn{
    text-decoration: none;
}

.btn{
   transition: ease 0.3s;
   padding: 10px 35px;
   background-color: var(--accent-color);
   color: #fff;
   font-weight: bold;
   border: 2px solid var(--accent-color);
}

.btn:hover{
    background-color: #fff;
    color: var(--accent-color);
    border: 2px solid var(--accent-color);
}


/* LOGO */
.logo-link{
    margin-right: 58px;
}
.logo{
    display: flex;
}

/* SITE_MAIN */
.hero-section{
    padding: 153px 0;
    background-image:linear-gradient( rgba(74, 86, 104,0.8),rgba(74, 86, 104,0.9)),
                     url("../images/site-hero-bg-scoot.png");

    background-repeat: no-repeat;
    background-position: center center,
                         calc(50% + 300px) 85%;
   
  margin-bottom: 160px;
}
.hero-title{
    width: 500px;
    margin: 0;
    margin-bottom: 40px;
    color: #fff;
    font-family:var(--mono-font);
    font-weight: bold;
    font-size: 56px;
    line-height: 56px;
    letter-spacing: -2.5px;
    position: relative;
}
.hero-title::after{
    content: "";
    width: 234px;
    height: 63px;
    display: block;
    position: absolute;
    top: 230px;
    right: -800px;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url("../images/site-hero-bg-circles.svg")
}
.hero-info{
    width: 405px;
    margin-left: 70px;
    color: white;
    position: relative;
}
.hero-text{
    margin: 0;
    margin-bottom: 40px;
    font-weight: normal;
}
.hero-info::after{
    content: "";
    width: 447px;
    height: 138px;
    display: block;
    position: absolute;
    top: 50px;
    left: 480px;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url("../images/yellow-arrow-to-right.svg");
}
.hero-info::before{
    content: "";
    width: 202px;
    height: 10px;
    display: block;
    position: absolute;
    top: 50px;
    left:-240px;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("../images/site-hero-horizontal-line.svg");
}
.hero-btn{
    text-decoration: none;
    display:inline-block;
}
.hero-btn:hover{
    background-color: transparent;
}

/* ORDER */
.order__container{
    display: flex;
    align-items: center;
}
.order-info{
    width: 350px;
    margin-right: 30px;
}
.order-info::before{
    content: "";
    display: block;
    width: 96px;
    height: 96px;
    background-repeat: no-repeat;
    background-position: center center;
    background-color: var(--accent-color);
    border-radius: 50%;
    margin-bottom: 40px;
}
.order-info__locate::before{
    background-image: url("../images/locate-with-app.svg");
    background-size:38px 47px, contain;
}
.order-info__pick::before{
    background-image: url("../images/pick-your-scooter.svg");
    background-size:38px 47px, contain;
}
.order-info__enjoy::before{
    background-image: url("../images/pick-your-scooter2.svg");
    background-size:38px 47px, contain;
}
.order-info__title{
    font-weight: bold;
    font-family:var(--mono-font);
    font-size: 24px;
    line-height: 28px;
    letter-spacing: -1.07143px;
    color:var(--title-color);
    margin: 0;
    margin-bottom: 27px;
}
.order-info__text{
    margin: 0;
}